* {
    border: 1px solid red;
}

h1 {
    color: whitesmoke;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, black, gray, black, gray);
}

.card {
    line-height: 20rem;
    font-size: 24px;
}

.card h1 {
    line-height: 5rem;
}

.col-md-4 img {
    height: 250px
}