/* * {
    border: 1px solid red;
} */

h1 {
    color: black;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, grey, whitesmoke, grey, whitesmoke);
}

.card {
    line-height: 20rem;
    font-size: 24px;
}

.card h1 {
    line-height: 5rem;
}

.card p {
    color: black;
}

.col-md-4 img {
    height: 250px
}

.dropdown {
    margin-bottom: 5px;
}