{% extends 'base.html'%}
<!-- content -->
{% block content %} {{block.super}}
<!-- <h1 class="text-center"> {{ cat_name }} </h1> -->
<div class="row">
    {% for pic in pics %}
    <!-- displaying Images-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive">
        <a href="#{{pic.id}}" data-toggle="modal"><img src="{{ pic.image.url }}" class="img-responsive img-rounded" alt="Image"></a>

    </div>
    <div id="{{pic.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> {{ pic.image_name }} </h4>
                </div>
                <div class="modal-body">
                    <img src="{{ pic.image.url }}" class="img-rounded" alt="Image">
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class='col-md-11'>
                            <p> {{ pic.image_description }} </p>

                        </div>
                        <div class="col-md-1">
                            <a class="js-piclink" href=" {{ pic.image.url }} "></a>
                            <div class="">
                                <!-- <div class="fa fa-link">
                                    <input type="button" class="btn btn-default" value="{{ pic.image.url }}" name="copy">
                                </div> -->
                                <i class="fa fa-link js-copybtn">&nbsp;<em>copy</em></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% empty %}

</div>

<div class="row">
    <h2 class="text-center">There No Images</h2>
</div>
{% endfor %} {% endblock %}