{% extends 'base.html'%}
<!-- content -->
{% block content %} {{block.super}}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">All Locations
                <span class="caret"></span></button>
    <ul class="dropdown-menu">

        <!-- <li><a href="{% url 'pic_location' location_id=00 %}">All Locations</a></li> -->
        {% for loc in all_locations %}
        <li>
            <a href="{% url 'pic_location' location_id=loc.id %}">{{ loc.place }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- <h1 class="text-center">Panorama Gallery</h1> -->


<div class="row">
    {% for cat in all_cats %}

    <!-- displaying Images-->
    <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h2 class="text-center"> {{ cat.name }} </h2>
        </div> -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div>
            <a href="{% url 'gallery_category' category_id=cat.id %}">
                <img src="{{ cat.cat_image.url }}" class="img-responsive img-rounded" alt="Image"></a>
        </div>
        <!-- <p> {{ cat.cat_description }} </p> -->
    </div>


    {% empty %}
</div>
<div class="row">
    <h2 class="text-center">There No Images</h2>
</div>
{% endfor %} {% endblock %}