{% extends 'base.html'%}
<!-- content -->
{% block content %} {{block.super}}
<h1 class="text-center">Panorama Gallery</h1>

<select id="location_select" name="Location">
    {% for loc in all_locations %}
    <option value="{% url 'pic_location' location_id=loc.id %}">{{ loc.place }}</option>
    {% endfor %}
</select> {% for cat in all_cats %}

<div class="row">
    <!-- displaying Images-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h2 class="text-center"> {{ cat.name }} </h2>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <a href="{% url 'gallery_category' category_id=cat.id %}"><img src="{{ cat.cat_image.url }}" class="img-responsive" alt="Image"></a>
        <p> {{ cat.cat_description }} </p>
    </div>

</div>

{% empty %}
<div class="row">
    <h2 class="text-center">There No Images</h2>
</div>
{% endfor %} {% endblock %}